.comment-style{
    height: 200px;
}
.form-style{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/246/739/689/digital-digital-art-artwork-illustration-abstract-hd-wallpaper-preview.jpg);
    background-size: 100% !important;
    background-repeat: repeat-y;
}